<dx-popup class="popup" [showTitle]="true" title="Product" [dragEnabled]="true" [closeOnOutsideClick]="false"
    [(visible)]="popupVisible">
    <div *dxTemplate="let data of 'content'">
        <dx-scroll-view #scrollView [scrollByContent]="true" [scrollByThumb]="true" showScrollbar="onScroll">
            <div class="row mt-2">
                <div class="col-6">
                    <div class="section-wrapper">
                        <div class="dx-field year-filed">
                            <label class="form-group has-float-label">
                                <div class="">
                                    <input type="text" class="form-control" [(ngModel)]="dataInfo.productCode"
                                        [readOnly]="this.accessMenu != 1">
                                </div>
                                <span class="float-label ">Product Code</span>
                            </label>
                        </div>
                    </div>
                </div>
                <div class="col-6"></div>
                <div class="col-6">
                    <div class="section-wrapper">
                        <div class="dx-field year-filed">
                            <label class="form-group has-float-label">
                                <div class="">
                                    <input type="text" class="form-control" [(ngModel)]="dataInfo.productName"
                                        [readOnly]="this.accessMenu != 1">
                                </div>
                                <span class="float-label ">Product Name</span>
                            </label>
                        </div>
                    </div>
                </div>
                <div class="col-6">
                    <div class="section-wrapper">
                        <div class="dx-field year-filed">
                            <label class="form-group has-float-label">
                                <div class="">
                                    <input type="text" class="form-control" [(ngModel)]="dataInfo.productShortName"
                                        [readOnly]="this.accessMenu != 1">
                                </div>
                                <span class="float-label ">Product Short Name</span>
                            </label>
                        </div>
                    </div>
                </div>
                <!-- <div class="col-6">
                <div class="section-wrapper">
                    <dx-check-box [(value)]="dataInfo.isRefinery"></dx-check-box> ซื้อผลิตภัณฑ์จากโรงกลั่น
                </div>
                </div> -->
                <div class="col-6">
                    <div class="section-wrapper">
                        <div class="dx-field year-filed">
                            <label class="form-group has-float-label">
                                <div class="">
                                    <textarea type="text" class="form-control" [(ngModel)]="dataInfo.remark"
                                        [readOnly]="this.accessMenu != 1"></textarea>
                                </div>
                                <span class="float-label ">Remark</span>
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <h3>กำหนดเกรดผลิตภัณฑ์</h3>
                    <!-- <app-breadcrumb></app-breadcrumb> -->
                </div>
                <div class="col-6"><button type="submit" class="btn btn-primary float-right"
                        (click)="gradeAddClick()"><i ng-reflect-ng-class="iconsminds-save"
                            class="iconsminds-save mr-1"></i> เพิ่ม</button>
                </div>
            </div>
            <div class="row">
                <ng-container *ngFor="let item of dataInfo.gradeData; let i=index">
                    <div class="col-11">
                        <div class="section-wrapper">
                            <div class="dx-field year-filed">
                                <label class="form-group has-float-label">
                                    <div class="">
                                        <input type="text" class="form-control" [(ngModel)]="item.productGrade"
                                            [readOnly]="this.accessMenu != 1">
                                    </div>
                                    <span class="float-label ">{{i + 1}}</span>
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="col-1">
                        <a class="text-dark" title="ลบ" (click)="deleteClick($event, item)">
                            <span class="tx-18 p-1 w-100"><i class="far fa-trash-alt"></i></span>
                        </a>
                    </div>
                </ng-container>
            </div>
        </dx-scroll-view>
    </div>
    <dxi-toolbar-item widget="dxButton" toolbar="bottom" location="after"
        [options]="{ text: 'บันทึก', type:'default', icon: 'fas fa-info', onClick: popupSaveClick }">
    </dxi-toolbar-item>
    <dxi-toolbar-item widget="dxButton" toolbar="bottom" location="after"
        [options]="{ text: 'ยกเลิก', type:'default', icon: 'fas fa-info', onClick: popupCancelClick }">
    </dxi-toolbar-item>
</dx-popup>