<div class="row">
  <div class="col-12">
    <div class="card mb-4">
      <div class="card-body">
        <tabset #tabSet class="card-tabs">
          <tab heading="Full Cost" class="card-body">
            <div>
              <button class="btn mg-l-5 btn btn-secondary mr-1" (click)="onGetData()">
                <i ng-reflect-ng-class="iconsminds-save" class="iconsminds-save mr-1"></i>
                <span>ดึงข้อมูล Full Cost(Actual)</span>
              </button>

              <button class="btn mg-l-5 btn btn-secondary mr-1" (click)="onGetData()">
                <i ng-reflect-ng-class="iconsminds-save" class="iconsminds-save mr-1"></i>
                <span>ดึงข้อมูล Full Cost(Actual & forecast)</span>
              </button>
            </div>
            <div>
              <hr>
            </div>
            <dx-data-grid #referencePriceDataSmartPriceGrid [dataSource]="dataList" columnResizingMode="widget"
              [allowColumnResizing]="true" [rowAlternationEnabled]="true">
              <dxo-group-panel [visible]="false"></dxo-group-panel>
              <dxo-sorting [mode]="'none'"></dxo-sorting>
              <dxo-paging [pageSize]="10" [pageIndex]="1">
                <!-- Shows the second page -->
              </dxo-paging>
              <dxi-column caption="Source" dataField="ref_price_name"></dxi-column>
              <dxi-column caption="Demand" dataField="ref_price_name"></dxi-column>
              <dxi-column caption="Delivery point" dataField="ref_price_name"></dxi-column>
              <dxi-column caption="Unit" dataField="unit"></dxi-column>
              <dxi-column caption="Type" dataField="type"></dxi-column>
              <dxi-column caption="Actual Price" dataField="actual_price" dataType="number" type="fixedPoint"
                precision="2">
              </dxi-column>
              <dxi-column caption="Rolling Price" dataField="rolling_price" dataType="number" type="fixedPoint"
                precision="2">
              </dxi-column>
              <dxi-column caption="Transaction Date" dataField="trans_date" dataType="datetime"
                [format]="{ type: 'dd/MM/yyyy HH:mm:ss' }"></dxi-column>

              <!-- <div *dxTemplate="let itemTemp of cellTemplate">
                <div
                placement="bottom">
                {{itemTemp.data[itemTemp.column.dataField] | number: '1.0-' + numberBoxDigi}}
              </div>
            </div> -->
            </dx-data-grid>

          </tab>
          <tab heading="Selling Price" class="card-body">
            <div>
              <button class="btn mg-l-5 btn btn-secondary mr-1" (click)="onGetData()">
                <i ng-reflect-ng-class="iconsminds-save" class="iconsminds-save mr-1"></i>
                <span>ดึงข้อมูล Selling Price(Actual) </span>
              </button>

              <button class="btn mg-l-5 btn btn-secondary mr-1" (click)="onGetData()">
                <i ng-reflect-ng-class="iconsminds-save" class="iconsminds-save mr-1"></i>
                <span>ดึงข้อมูล Selling Price(Actual & forecast)</span>
              </button>
            </div>
            <div>
              <hr>
            </div>
            <dx-data-grid #referencePriceDataSmartPriceGrid [dataSource]="dataList" columnResizingMode="widget"
              [allowColumnResizing]="true" [rowAlternationEnabled]="true">
              <dxo-group-panel [visible]="false"></dxo-group-panel>
              <dxo-sorting [mode]="'none'"></dxo-sorting>
              <dxo-paging [pageSize]="10" [pageIndex]="1">
                <!-- Shows the second page -->
              </dxo-paging>
              <dxi-column caption="Source" dataField="ref_price_name"></dxi-column>
              <dxi-column caption="Demand" dataField="ref_price_name"></dxi-column>
              <dxi-column caption="Delivery point" dataField="ref_price_name"></dxi-column>
              <dxi-column caption="Unit" dataField="unit"></dxi-column>
              <dxi-column caption="Type" dataField="type"></dxi-column>
              <dxi-column caption="Actual Price" dataField="actual_price" dataType="number" type="fixedPoint"
                precision="2">
              </dxi-column>
              <dxi-column caption="Rolling Price" dataField="rolling_price" dataType="number" type="fixedPoint"
                precision="2">
              </dxi-column>
              <dxi-column caption="Transaction Date" dataField="trans_date" dataType="datetime"
                [format]="{ type: 'dd/MM/yyyy HH:mm:ss' }"></dxi-column>

              <!-- <div *dxTemplate="let itemTemp of cellTemplate">
                            <div
                            placement="bottom">
                            {{itemTemp.data[itemTemp.column.dataField] | number: '1.0-' + numberBoxDigi}}
                          </div>
                        </div> -->
            </dx-data-grid>
          </tab>
          <tab heading="Volumn" class="card-body">
            <div>
              <button class="btn mg-l-5 btn btn-secondary mr-1" (click)="onGetData()">
                <i ng-reflect-ng-class="iconsminds-save" class="iconsminds-save mr-1"></i>
                <span>ดึงข้อมูล Volumn(Actual)</span>
              </button>

              <button class="btn mg-l-5 btn btn-secondary mr-1" (click)="onGetData()">
                <i ng-reflect-ng-class="iconsminds-save" class="iconsminds-save mr-1"></i>
                <span>ดึงข้อมูล Volumn(Actual & forecast)</span>
              </button>
            </div>
            <div>
              <hr>
            </div>
            <dx-data-grid #referencePriceDataSmartPriceGrid [dataSource]="dataList" columnResizingMode="widget"
              [allowColumnResizing]="true" [rowAlternationEnabled]="true">
              <dxo-group-panel [visible]="false"></dxo-group-panel>
              <dxo-sorting [mode]="'none'"></dxo-sorting>
              <dxo-paging [pageSize]="10" [pageIndex]="1">
                <!-- Shows the second page -->
              </dxo-paging>
              <dxi-column caption="Source" dataField="ref_price_name"></dxi-column>
              <dxi-column caption="Demand" dataField="ref_price_name"></dxi-column>
              <dxi-column caption="Delivery point" dataField="ref_price_name"></dxi-column>
              <dxi-column caption="Unit" dataField="unit"></dxi-column>
              <dxi-column caption="Type" dataField="type"></dxi-column>
              <dxi-column caption="Actual Price" dataField="actual_price" dataType="number" type="fixedPoint"
                precision="2">
              </dxi-column>
              <dxi-column caption="Rolling Price" dataField="rolling_price" dataType="number" type="fixedPoint"
                precision="2">
              </dxi-column>
              <dxi-column caption="Transaction Date" dataField="trans_date" dataType="datetime"
                [format]="{ type: 'dd/MM/yyyy HH:mm:ss' }"></dxi-column>

              <!-- <div *dxTemplate="let itemTemp of cellTemplate">
                            <div
                            placement="bottom">
                            {{itemTemp.data[itemTemp.column.dataField] | number: '1.0-' + numberBoxDigi}}
                          </div>
                        </div> -->
            </dx-data-grid>
          </tab>
        </tabset>
      </div>
    </div>
  </div>
</div>