package-lock.json
.vscode/launch.json
Documentation/01_Information/เอกสารจาก User/คุณเตย ตาม Email วันที่ 24052021/Input/Optimization (Volume Inventory LR)/~$GSP customers contract and constrain.xlsx
Documentation/01_Information/เอกสารจาก User/คุณเตย ตาม Email วันที่ 24052021/Input/Optimization (Volume Inventory LR)/~$Merge Allocation 2021_24May2022.xlsx
Documentation/01_Information/เอกสารจาก User/คุณเตย ตาม Email วันที่ 24052021/Input/Optimization (Volume Inventory LR)/Ability/~$2021_06_Ability Plan_rev0 แก้ไขเอกสารแนบ.xlsx
Documentation/01_Information/เอกสารจาก User/คุณเตย ตาม Email วันที่ 24052021/Next Phase/~$1. Inform PTTOR_Jun'21_24May2021.xlsx
Documentation/01_Information/เอกสารจาก User/คุณเตย ตาม Email วันที่ 24052021/Next Phase/~$lpg plan rolling 12 month_Jun2021_May2022_24May21_rev0__24May2021.xlsx
Documentation/01_Information/เอกสารจาก User/คุณเตย ตาม Email วันที่ 24052021/Output/~$Calc Margin_24May2021.xlsx
Alloction-Model-NestJS/_dist
