<section class="section section-bg-grey" *ngFor="let item of masterData.masterCosts; let i=index">
  <div class="block-wrapper" style="margin-bottom: 20px;">
    <div class="result-block">
      <div class="summary-block">
        <h3><i class="simple-icon-diamond"></i> {{item.productName}}</h3>
      </div>
      <div class="detail-block">
        <dx-data-grid #dataGrid [columns]="dynamicColumns" [dataSource]="item.dataList" columnResizingMode="widget"
          [allowColumnResizing]="true" [rowAlternationEnabled]="true" [focusedRowEnabled]="false"
          (onCellPrepared)="onCellPrepared($event)">
          <dxo-group-panel [visible]="false"></dxo-group-panel>
          <dxo-sorting [mode]="'none'"></dxo-sorting>
          <dxo-scrolling columnRenderingMode="virtual"></dxo-scrolling>
          <dxo-paging [enabled]="false"></dxo-paging>
          <dxo-pager [visible]="false"></dxo-pager>
          <div *dxTemplate="let itemTemp of cellTemplate">
            <!-- <div [id]="'edit' + item.id + itemTemp.column.dataField + itemTemp.rowIndex" class="pointer "
              style="font-weight: 500;"
              [ngClass]="{'text-danger': itemTemp.data['isManual'+itemTemp.column.dataField] === true}"
              (mouseenter)="itemTemp.data['isTooltip' + itemTemp.column.dataField + itemTemp.rowIndex] = true"
              (mouseleave)="itemTemp.data['isTooltip' + itemTemp.column.dataField + itemTemp.rowIndex] = false">
              <i class="glyph-icon simple-icon-options-vertical"></i>
              {{itemTemp.data[itemTemp.column.dataField] | number: '1.' + (numberBoxDigi ? numberBoxDigi: 0) + '-' +
              (numberBoxDigi ? numberBoxDigi: 0)}}
            </div> -->
            <!-- <dx-context-menu [dataSource]="[{text:'Edit'},{text:'Paste'}]" [showEvent]="'dxclick'" [width]="200"
              [target]="'#edit' + item.id + itemTemp.column.dataField + itemTemp.rowIndex"
              (onItemClick)="itemClick($event,itemTemp.rowIndex,itemTemp.column.code, item.dataList,itemTemp.data,itemTemp.column.dataField)">
            </dx-context-menu> -->
            <div [id]="'edit' + item.id + itemTemp.column.dataField + itemTemp.rowIndex" class="pointer "
              [ngClass]="{'text-danger': itemTemp.data['isManual'+itemTemp.column.dataField] === true,'text-primary': itemTemp.data['isActual'+itemTemp.column.dataField] === true}"
              (mouseenter)="itemTemp.data['isTooltip' + itemTemp.column.dataField + itemTemp.rowIndex] = true"
              (mouseleave)="itemTemp.data['isTooltip' + itemTemp.column.dataField + itemTemp.rowIndex] = false">
              <i class="glyph-icon simple-icon-options-vertical"></i>{{itemTemp.data[itemTemp.column.dataField] |
              number: '1.'
              +
              (numberBoxDigi ? numberBoxDigi: 0) + '-' +
              (numberBoxDigi ? numberBoxDigi: 0)}}
            </div>
            <dx-context-menu *ngIf="itemTemp.data['isActual'+itemTemp.column.dataField] !== true"
              [dataSource]="[{text:'Edit'},{text:'Paste'}]" [showEvent]="'dxclick'" [width]="200"
              [target]="'#edit' + item.id + itemTemp.column.dataField + itemTemp.rowIndex"
              (onItemClick)="itemClick($event,itemTemp.rowIndex,itemTemp.column.code, item.dataList,itemTemp.data,itemTemp.column.dataField)">
            </dx-context-menu>
            <dx-tooltip *ngIf="itemTemp.data['isManual'+itemTemp.column.dataField] === true"
              [target]="'#edit' + item.id + itemTemp.column.dataField + itemTemp.rowIndex"
              [(visible)]="itemTemp.data['isTooltip' + itemTemp.column.dataField + itemTemp.rowIndex]"
              [closeOnOutsideClick]="false">
              <div *dxTemplate="let data = data; of: 'content'">
                {{getDataVersion0(itemTemp.data,itemTemp.column.dataField)}} </div>
            </dx-tooltip>
          </div>
        </dx-data-grid>
      </div>

    </div>
  </div>
</section>

<dx-popup [width]="500" [height]="350" [showTitle]="true" [title]="titleEdit" [closeOnOutsideClick]="false"
  [showCloseButton]="false" [(visible)]="popupVisible">
  <dxi-toolbar-item toolbar="bottom" location="after">
    <button class="btn btn-outline-primary" (click)="popupCancelClick()">
      <span>ยกเลิก</span>
    </button>
  </dxi-toolbar-item>
  <dxi-toolbar-item toolbar="bottom" location="after">
    <button [disabled]="this.accessMenu != 1" class="btn btn-primary" (click)="popupSaveClick()">
      <span>ตกลง</span>
    </button>
  </dxi-toolbar-item>
  <div *dxTemplate="let data of 'content'">
    <div class="row mt-2">
      <div class="col-md-12">
        <div class="form-group">
          <div class="d-flex flex-row justify-content-between align-items-center">
            <label class="control-label">Value</label>
            <div class="custom-control custom-checkbox mb-2" Tooltip="xxxxx">
              <input [disabled]="this.accessMenu != 1" type="checkbox" id="checkManual"
                (change)="onIsManualValueChange($event)" [(ngModel)]="dataEdit['isManual' + dataFieldEdit]"
                class="custom-control-input">
              <label for="checkManual" class="custom-control-label">Manual</label>
            </div>
          </div>
          <dx-number-box #numberBox [disabled]="this.accessMenu != 1" [(value)]="dataEdit[dataFieldEdit]">
          </dx-number-box>
        </div>
        <div class="form-group">
          <label for="remark-data">remark</label>
          <dx-text-area [disabled]="this.accessMenu != 1" [(value)]="dataEdit['remark'+ dataFieldEdit]">
          </dx-text-area>
        </div>
      </div>
    </div>
  </div>
</dx-popup>