<div class="page-wrapper">
  <div #spacer></div>
  <div class="row">
    <div class="col-12">
      <div class="page-header" sticky [spacer]="spacer">
        <!-- sticky [spacer]="spacer" -->
        <div class="nav-block">
          <a href="javascript:;" class="menu-button">
            <i class="fas fa-align-left"></i>
          </a>
        </div>
        <div class="header-block">
          <div class="block">
            <div class="page-title">
              <p class="page-name">Cal margin ($/Ton)</p>
              <p class="mb-0">
                <span class="badge badge-success mb-1">{{ dataInfo.versionName }}</span>
                <span class="space"> | </span>
                <!-- <span>Last Updated, 10 days ago</span> -->
                <span>Last updated By : {{ dataInfo.updateBy}} | {{ dataInfo.updateDate | date:"dd/MM/yyyy HH:mm:ss"}}
                  <span class="badge badge-light mb-1">{{ dataInfo.updateBy}}</span></span>
              </p>
            </div>
            <div class="text-zero top-right-button-container">
              <button class="btn btn-outline-primary mg-l-5 mr-1" (click)="onSearch($event)">
                <i ng-reflect-ng-class="simple-icon-magnifier" class="simple-icon-magnifier mr-1"></i>
                <span>ค้นหา</span>
              </button>
              <div class="btn-group" dropdown>
                <div class="">
                  <button id="button-split" type="button" [disabled]="this.accessMenu == 2" dropdownToggle
                    class="btn btn-primary dropdown-toggle dropdown-toggle-split mr-1" aria-controls="dropdown-split">
                    <i ng-reflect-ng-class="iconsminds-save" class="simple-icon-grid mr-1"></i>
                    <span class="caret">Action </span>
                  </button> &nbsp;
                </div>
                <ul id="dropdown-split" *dropdownMenu class="dropdown-menu dropdown-menu-right" role="menu"
                  aria-labelledby="button-split">
                  <li role="menuitem"><a class="dropdown-item" tooltip="Save this version (ctrl+s)" placement="right"
                      href="javascript:;" (click)="onSave()">บันทึก</a></li>
                  <li role="menuitem"><a class="dropdown-item" tooltip="Save new version (ctrl+shift+s)"
                      placement="right" href="javascript:;" (click)="onSaveAs()">บันทึกเป็น</a></li>
                  <div class="separator mb-1"></div>
                  <li role="menuitem"><a class="dropdown-item" tooltip="ส่งข้อมูลไป Model" placement="right"
                      href="javascript:;" (click)="onGenFile($event)">Optimization</a></li>
                </ul>
              </div>
            </div>
          </div>
          <hr class="line" />
        </div>
      </div>
      <div class="page-body">
        <section class="section section-bg-grey">
          <div class="block-wrapper" style="margin-bottom: 100px;">
            <div class="result-block">
              <div class="detail-block">
                <tabset #tabSet class="separator-tabs">
                  <tab heading="Data">
                    <div class="row">
                      <div class="col-12 mt-2">
                        <form>
                          <dx-validation-group #targetGroup>
                            <div class="card mb-4">
                              <div class="card-body">
                                <div class="row">
                                  <div class="col-4">
                                    <div class="form-group">
                                      <label>Cost Version:</label>
                                      <dx-select-box [dataSource]="costVersionList" valueExpr="id"
                                        [displayExpr]="displayVersion" name="costVersionId"
                                        [readOnly]="this.accessMenu != 1" [showClearButton]="true"
                                        [(ngModel)]="dataInfo.costVersionId">
                                        <dx-validator>
                                          <dxi-validation-rule type="required" message="กรุณาเลือก Cost Version">
                                          </dxi-validation-rule>
                                        </dx-validator>
                                      </dx-select-box>
                                    </div>
                                  </div>
                                  <div class="col-4">
                                    <div class="form-group">
                                      <label>Reference Price Version:</label>
                                      <dx-select-box [dataSource]="referencePriceList" valueExpr="id"
                                        name="referencePriceVersionId" [displayExpr]="displayVersion"
                                        [readOnly]="this.accessMenu != 1" [showClearButton]="true"
                                        [(ngModel)]="dataInfo.referencePriceVersionId">
                                        <dx-validator>
                                          <dxi-validation-rule type="required"
                                            message="กรุณาเลือก Reference Price Version">
                                          </dxi-validation-rule>
                                        </dx-validator>
                                      </dx-select-box>
                                    </div>
                                  </div>
                                  <div class="col-4">
                                    <div class="form-group">
                                      <label>Calculate by:</label>
                                      <dx-select-box [dataSource]="costList" [readOnly]="this.accessMenu != 1"
                                        valueExpr="id" name="costProductTypeId" displayExpr="name"
                                        [showClearButton]="true" [(ngModel)]="dataInfo.costProductTypeId">
                                        <dx-validator>
                                          <dxi-validation-rule type="required" message="กรุณาเลือก Calculate by">
                                          </dxi-validation-rule>
                                        </dx-validator>
                                      </dx-select-box>
                                    </div>
                                  </div>
                                </div>
                                <div class="row mt-2">
                                  <div class="col-12 text-right">
                                    <div class="form-group">
                                      <button class="btn btn-primary mg-l-5 mr-1" (click)="onAccept($event)"
                                        [disabled]="this.accessMenu != 1">
                                        <span>ตกลง</span>
                                      </button>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </dx-validation-group>
                        </form>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-12">
                        <div class="card mb-4">
                          <div class="card-body">
                            <tabset #tabSet class="card-tabs">
                              <tab heading="Full Cost" class="card-body">
                                <app-fullcost-data-grid #fullCostDataGrid class="custom-data-grid"
                                  [maxVersion]="maxVersion" (onEventClick)="onFullCostUpdateData($event)"
                                  [numberBoxReadOnly]="numberBoxReadOnly">
                                </app-fullcost-data-grid>
                              </tab>
                              <tab heading="Selling Price" (selectTab)="tabSellingChange($event)" class="card-body">
                                <app-sellingprice-data-grid #sellingPriceDataGrid [maxVersion]="maxVersion"
                                  (onEventClick)="onSellingPriceUpdateData($event)"
                                  [numberBoxReadOnly]="numberBoxReadOnly">
                                </app-sellingprice-data-grid>
                              </tab>
                              <tab heading="Margin per unit" (selectTab)="tabMarginChange($event)" class="card-body">
                                <app-marginperunit-data-grid #marginPerInitDataGrid>
                                </app-marginperunit-data-grid>
                              </tab>
                            </tabset>
                          </div>
                        </div>
                      </div>
                    </div>
                  </tab>
                  <tab heading="Version">
                    <app-fullcost-history #fullCostHistory (onEventClick)="onHistoryClick($event)">
                    </app-fullcost-history>
                  </tab>
                  <tab heading="Smart Price Data">
                    <app-smart-price-data-grid #SmartPriceData>
                    </app-smart-price-data-grid>
                  </tab>
                </tabset>
              </div>
            </div>
          </div>
        </section>
      </div>
    </div>
  </div>
</div>

<ng-template #template>
  <div class="modal-body">
    <h5 class="mb-4"> <i class="far fa-calendar-alt icon-color"></i> Year</h5>
    <form>
      <dx-calendar [maxZoomLevel]="'year'" [minZoomLevel]="'century'" [(value)]="date">
      </dx-calendar>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-primary" (click)="searchCancelClick()">ยกเลิก</button>
    <button type="submit" class="btn btn-primary float-right" (click)="searchClick()">ค้นหา</button>
  </div>
</ng-template>