<div class="row">
    <div class="col-12">
       <div [ngClass]="{'card d-flex mb-3 card': true, 'active':true}">
          <div class="d-flex flex-grow-1 min-width-zero">
             <div
                class="align-self-center d-flex flex-column flex-md-row justify-content-between min-width-zero align-items-md-center card-body">

                <p class="mb-1 text-muted text-small w-15 w-xs-100">Year</p>
                <p class="mb-1 text-muted text-small w-15 w-xs-100">Version Data</p>
                <p class="mb-1 text-muted text-small w-15 w-xs-100">วันที่ส่ง</p>
                <p class="mb-1 text-muted text-small w-15 w-xs-100">ส่งโดย</p>
                <p class="mb-1 text-muted text-small w-15 w-xs-100">Tracking No.</p>
                <p class="mb-1 text-muted text-small w-15 w-xs-100">สถานะ</p>
                <div class="w-15 w-xs-100 text-right">
                   Action
                </div>
             </div>
          </div>
       </div>
    </div>
    <div class="col-12">
       <div [ngClass]="{'card d-flex mb-3 card': true, 'active':true}">
          <div class="d-flex flex-grow-1 min-width-zero">
             <div
                class="align-self-center d-flex flex-column flex-md-row justify-content-between min-width-zero align-items-md-center card-body">

                <p class="mb-1 text-muted text-small w-15 w-xs-100">2021</p>
                <p class="mb-1 text-muted text-small w-15 w-xs-100">3</p>
                <p class="mb-1 text-muted text-small w-15 w-xs-100">23/05/2021 17:30</p>
                <p class="mb-1 text-muted text-small w-15 w-xs-100">Admin</p>
                <p class="mb-1 text-muted text-small w-15 w-xs-100">FS202105003</p>

                <div class="w-15 w-xs-100"><span
                      [class]="'badge badge-pill badge-danger'">Unsuccess</span>
                </div>
                <div class="w-15 w-xs-100 text-right">
                   <button class="btn btn-sm pd-x-15 mg-l-5 btn-outline-secondary">
                      <i class="iconsminds-file"></i>
                   </button>
                </div>
             </div>
          </div>
       </div>
    </div>
    <div class="col-12">
       <div [ngClass]="{'card d-flex mb-3 card': true, 'active':true}">
          <div class="d-flex flex-grow-1 min-width-zero">
             <div
                class="align-self-center d-flex flex-column flex-md-row justify-content-between min-width-zero align-items-md-center card-body">

                <p class="mb-1 text-muted text-small w-15 w-xs-100">2021</p>
                <p class="mb-1 text-muted text-small w-15 w-xs-100">2</p>
                <p class="mb-1 text-muted text-small w-15 w-xs-100">22/05/2021 17:30</p>
                <p class="mb-1 text-muted text-small w-15 w-xs-100">Admin</p>
                <p class="mb-1 text-muted text-small w-15 w-xs-100">FS202105002</p>
                <div class="w-15 w-xs-100"><span [class]="'badge badge-pill badge-success'">Success</span>
                </div>
                <div class="w-15 w-xs-100 text-right">
                   <button class="btn btn-sm pd-x-15 mg-l-5 btn-outline-secondary">
                      <i class="iconsminds-file"></i>
                   </button>
                </div>
             </div>
          </div>
       </div>
    </div>
    <div class="col-12">
       <div [ngClass]="{'card d-flex mb-3 card': true, 'active':true}">
          <div class="d-flex flex-grow-1 min-width-zero">
             <div
                class="align-self-center d-flex flex-column flex-md-row justify-content-between min-width-zero align-items-md-center card-body">

                <p class="mb-1 text-muted text-small w-15 w-xs-100">2021</p>
                <p class="mb-1 text-muted text-small w-15 w-xs-100">1</p>
                <p class="mb-1 text-muted text-small w-15 w-xs-100">21/05/2021 12:30</p>
                <p class="mb-1 text-muted text-small w-15 w-xs-100">Admin</p>
                <p class="mb-1 text-muted text-small w-15 w-xs-100">FS202105001</p>
                <div class="w-15 w-xs-100"><span [class]="'badge badge-pill badge-success'">Success</span>
                </div>
                <div class="w-15 w-xs-100 text-right">
                   <button class="btn btn-sm pd-x-15 mg-l-5 btn-outline-secondary">
                      <i class="iconsminds-file"></i>
                   </button>
                </div>
             </div>
          </div>
       </div>
    </div>
 </div>