.duration-days-icon{
    font-size: 38px;
    line-height: 66px;
}
.duration-day-card-text{
    color: #8f8f8f;
    height: 30px;
    line-height: 26px;
}
.duration-day-color{
    color: #00365a;
}
  
